.Body {
  border-top: 20px solid #f7f7f7;
  border-bottom: 20px solid rgb(167, 8, 25);
  font-size: 1.5rem;
  padding: 1rem 1rem 1rem 1rem;
}

.others {
  border: 2px solid rgb(167, 8, 25);
  border-radius: 100px;
  text-align: center;
  width: 150px;
  color: rgb(26, 18, 16);
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
