.Header {
  border: 3px solid whitesmoke;
  display: grid;
  grid-template-columns: 10fr 1fr;
  grid-template-rows: repeat(3, 1fr);
}

.subTotal {
  grid-row: 1/2;
}

.serviceCharge {
  grid-row: 2/3;
}

.total {
  grid-row: 3/4;
}
