.ToolbarContainer {
  background: #fff;
  position: sticky;
  bottom: 0px;
  display: flex;
  flex-direction: column;
}

.Toolbar {
  display: flex;
}

.Toolbar button {
  background-color: rgb(167, 8, 25);
  border: 2px solid rgb(167, 8, 25);
  width: 100%;
  color: #fff;
  font-size: 1.5rem;
}
