.ToolbarContainer {
  background: #fff;
  position: sticky;
  bottom: 0px;
  display: flex;
  flex-direction: column;
}

.Toolbar {
  background: #fff;
  border-top: 5px solid rgb(167, 8, 25);
  display: flex;
  justify-content: space-evenly;
}

.activeButton,
.defaultButton {
  background: rgb(167, 8, 25);
  border: 2px solid rgb(167, 8, 25);
  border-radius: 100px;
  width: 40%;
  color: #fff;
  font-size: 1.5em;
  margin: 0.5rem;
  padding: 0.25rem;
}

.activeButton {
  background: #fff;
  color: rgb(26, 18, 16);
}
