.Item {
  background: #fff;
  border-radius: 10px;
  display: grid;
  align-items: center;
  grid-template-columns: 1.5fr 1fr minmax(137px, 1.5fr);
  height: 70px;
  margin: 0 0.8rem 0.8rem 0.8rem;
  padding: 1rem;
}
.Item:nth-child(1) {
  margin-top: 0.8rem;
}

.delete {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.delete button {
  background: rgb(167, 8, 25);
  border: none;
  border-radius: 100px;
  color: #fff;
  font-size: 1.2rem;
  width: 60px;
  height: 37px;
}

.ItemAmount {
  display: flex;
  justify-content: center;
}

.ItemControl {
  display: flex;
  justify-content: flex-end;
}

.ItemControl button {
  background: rgb(167, 8, 25);
  border: none;
  border-radius: 100px;
  width: 60px;
  color: #fff;
  font-size: 2rem;
  margin: 0 0 0 0.5rem;
}

.ItemControl button:active,
.delete button:active {
  background: rgb(26, 18, 16);
}
