.Item {
  display: grid;
  align-items: center;
  grid-template-columns: 1.5fr 1fr 1.5fr;
  margin-bottom: 1rem;
}

.delete {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.delete button {
  background-color: rgb(167, 8, 25);
  border: none;
  border-radius: 100px;
  color: #fff;
  width: 40px;
  height: 30px;
}

.ItemAmount {
  display: flex;
  justify-content: center;
}

.ItemControl {
  display: flex;
  justify-content: flex-end;
}

.ItemControl button {
  background-color: rgb(167, 8, 25);
  border: none;
  border-radius: 100px;
  width: 60px;
  color: #fff;
  font-size: 2rem;
  margin: 0 0 0 0.5rem;
}

.ItemControl button:active,
.delete button:active {
  background-color: rgb(26, 18, 16);
}
