@import url('https://fonts.googleapis.com/css?family=Poppins');

.App {
  background: #fff;
  color: rgb(26, 18, 16);
  display: grid;
  min-height: 100vh;
  grid-template-rows: 145px auto 0fr;
  font-family: 'Poppins', sans-serif;
}
