@import url('https://fonts.googleapis.com/css?family=Poppins');

.App {
  background: #fff;
  color: rgb(26, 18, 16);
  display: grid;
  grid-template-rows: 1fr 10fr;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
}
