.Header {
  border: 3px solid whitesmoke;
  display: grid;
  font-size: 2rem;
  padding: 1rem 1rem 1rem 1rem;
}

.headerItem {
  display: flex;
  justify-content: space-between;
}

.headerPrice {
  display: flex;
}
