.Header {
  background-color: #fff;
  border-bottom: 1px solid rgb(167, 8, 25);
  border-width: thick;
  position: sticky;
  top: 0;
  display: grid;
  font-size: 1.5rem;
  padding: 1rem 1.5rem 1rem 1.5rem;
}

.headerItem {
  display: flex;
  justify-content: space-between;
}

.headerPrice {
  display: flex;
}
